.App {
  padding: 10px;
  min-height: 100vh;
}

.dark {
  background-color: var(--color-gray);
  color: var(--color-white);
}

.red {
  background-color: var(--color-red);
  color: var(--color-white);
}
