.box {
  width: fit-content;
  padding: 10px;
  border: 2px solid var(--color-special);
  border-radius: 5px;
}

.affairs-box {
  margin-bottom: 20px;
}

.affair {
  display: flex;
  gap: 5px;
}

.affair b {
  flex-basis: 130px;
}

.priority {
  flex-basis: 100px;
}

.affair + .affair {
  margin-top: 10px;
}

.button-box {
  display: flex;
}

.close-button {
  background-color:  var(--color-special);
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button {
  background-color: var(--color-special);
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  transition: opacity 300ms;
}

button:hover,
button:focus {
  opacity: 0.7;
}
