.select {
  border-radius: 5px;
  padding: 10px;
  font-family: inherit;
  font-size: 14px;
  border:none;
  color: white;
  background-color: var(--color-special);
  cursor: pointer;
  transition: background-color 200ms;

  /*appearance: none;*/
}

.select:hover,
.select:focus {
  background-color: var(--color-special);
}

.select:hover,
.select:focus {
  border: none;
}

.option {

}

.option:hover {
  cursor: pointer;
}

.option:checked {
  background-color: var(--color-special);
}
